* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000;
  scroll-behavior: smooth;
}

/* Selection customized*/
::selection {
  color: white;
  background: #298311;
}

/* --Scroll bar Design-- */

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #323234; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #323234; 
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #323234; 
  cursor: pointer;
}


/* --Landing Page-- */

/* Top navbar as header on scroll */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header.sticky {
  padding: 7px 100px;
  background: #323234;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  padding-top: 2%;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  letter-spacing: 0.15rem;
  font-weight: 500px;
  transition: 0.6s;
  color: #000;
  font-size: 1rem;
}

.topnav .icon {
  display: none;
}

header ul li a:hover {
  text-decoration: none;
}

.banner {
  position: relative;
  width: 100%;
}

header.sticky ul li a {
  color: #fff;
  padding-top: 10%;
}

/* --Other components of landing page-- */
#wrapper-non-nav {
  height: 100vh;
  padding: 5rem 0 0;
}

/* Middle Wrap */
.mid-wrapper {
  height: 10em;
  position: relative;
}
.animate__animated.animate__zoomIn {
  --animate-duration: 1.5s;
}
.mid {
  margin: 0;
  position: absolute;
  top: 110%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 10%;
  padding-bottom: 0%;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0.07rem 0.07rem 0.20rem 0.25rem #054214;
}
.mid-wrapper h1,h3 {
  text-align: center;
}

/* Explore Button */
.explore {
  display: inline-block;
  padding: 0.80rem 1.40rem;
  border-radius: 2rem;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: semibold;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  cursor: pointer;
}
.explore:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #054214;
  z-index: -2;
}
.explore:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #38a30dab;
  transition: all 0.3s;
  z-index: -1;
}
.explore:hover {
  color: #fff;
  text-decoration: none;
}
.explore:hover:before {
  width: 100%;
}

/* Social Media sidebar */
.social-menu {
  position: absolute;
  list-style: none;
  text-align: center;
  display: inline-block;
  margin-left: 95%;
  font-size: 2.1rem;
  bottom: 65px;
  line-height: 1.75;
  margin-bottom: 0%;
}
.social-menu li {
  margin-right: 0.65rem;
  padding-left: 0;
  display: inline-block;
}
.social-menu li a {
  color: black;
}
.social-menu li a:hover {
  background-color: #054214;
  color: #fff;
  padding: 0.65rem;
  border-radius: 100px;
  text-decoration: none;
}
.social-menu li:last-child {
  margin: 0;
}

.services-header{
  color: #000;
  margin-top: 10%
}

.float-child {
  float: left;
}
.cards-code{
  width: 1000px;
  margin-left: 250px;
}
.cards-img-code{
  width: 1000px;
  height: 300px;
}

.card-body{
  background: #81AF41;
}
/*-----------------------------------*/
/* **About Section** */
.about {
  margin: 2%;
  margin-bottom: 0%;
  height: 100vh;
}

.about h1 {
  text-align: center;
  background: #323234;
  color: #fff;
  border-radius: 15px;
}

.about p {
  border: #323234 solid 3px;
  border-radius: 15px;
  padding: 1.5%;
}

.services-btn {
  color: #000;
  background-color: #fff;
}

.services-btn:hover {
  color: #fff;
  background-color: blue;
}

/*-----------------------------------*/
/* --Responsiveness-- */
@media screen and (max-width: 900px) {
  .mid {
    padding-top: 10rem;
  }
  .topnav {
    padding-top: 1rem;
  }
}