* {
  margin: 0%;
  padding: 0%;
}
html,
body {
width: 100%;
height: 100%;
font-family: 'Raleway', sans-serif;
color: #000;
}

/* **Landing Page** */
/* .landing {
  position: relative;
  height: 100%;
} */

nav {
  position: absolute;
}

#wrapper-non-nav {
  height: 100vh;
}

/* Middle Wrap */
.mid-wrapper {
  height: 10em;
  position: relative
}
.mid {
  margin: 0;
  position: absolute;
  top: 110%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 10%;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.mid-wrapper h1,h3 {
  text-align: center;
}

/* Explore Button */
.explore {
  display: inline-block;
  padding: 0.80rem 1.40rem;
  border-radius: 2rem;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: semibold;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  cursor: pointer;
}
.explore:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #054214;
  z-index: -2;
}
.explore:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #38a30dab;
  transition: all 0.3s;
  z-index: -1;
}
.explore:hover {
  color: #fff;
  text-decoration: none;
}
.explore:hover:before {
  width: 100%;
}

/* Social Media sidebar */
.social-menu {
  position: absolute;
  list-style: none;
  text-align: center;
  display: inline-block;
  margin-left: 95%;
  font-size: 2.1rem;
  bottom: 65px;
  line-height: 1.75;
}
.social-menu li {
  margin-right: 12px;
  padding-left: 0;
  display: inline-block;
}
.social-menu li a {
  color: black;
}
.social-menu li:last-child {
  margin: 0;
}

/*-----------------------------------*/
/* **About Section** */

.about {
  margin: 2%;
}

.about h1 {
  text-align: center;
  margin-bottom: 1%;
  background: #02751f;
  color: #fff;
  border-radius: 15px;
}

.about p {
  border: #02751f solid 3px;
  border-radius: 15px;
  padding: 1.5%;
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */